<div ng-cloak></div>
<md-dialog aria-label="Mango (Fruit)" class="modal-content" style="max-height:100%;max-width:100%; min-width:80%; min-height:70%">
	<form action="#" id="sky-form" class="sky-form sky-form-campos" style="border:0px;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="ctrl.cancel()" >&times;</button>
			<h4 class="modal-title" id="exampleModalLabel">Log de calculo 
				<span class="fa fa-exclamation-circle"></span>
			</h4>
		</div>
	
		<fieldset>
			<div class="row">
				<section class="col col-12" style="height: 250px; overflow-y: scroll; overflow-x: hidden;">
					  <div id="comentariosAviso">
					  	<div ng-repeat="comentario in ctrl.comentarios">
					    	<div ng-show="comentario.tipo=='AVISO'" class="alert alert-warning alert-dismissible" role="alert">
					    		<strong>Aviso!</strong> 
					    		<div class="mensagem">{{comentario.descricao}}</div>
					    	</div>
					    	<div ng-show="comentario.tipo=='ERRO'" class="alert alert-danger alert-dismissible" role="alert">
					    		<strong>Falha!</strong> 
								<div class="mensagem">{{comentario.descricao}}</div>
					    	</div>
					   		<div  ng-show="comentario.tipo=='COMENTARIO'" class="alert alert-info alert-dismissible" role="alert">
					   			<strong>Comentário!</strong>
					   			<div class="mensagem">{{comentario.descricao}}</div>
							</div>
					    </div>
				    </div>
				</section>
			</div>
			<footer class="text-right" style="margin: 10px 0px;">
				<button id="btnCancelar" type="button" class="btn-u" data-dismiss="modal" ng-click="ctrl.cancel()">
					<span class="fa fa-chevron-left"></span>&nbsp;
					<span translate="onsPortalApp.manter-agendamento.home.back">Voltar</span>
				</button>
			</footer>
		</fieldset>
	</form>
</md-dialog>