           <div class="col-sm-12"><!-- Caso queira deixar paralelo precisa alterar o 12 -->
                <label class="col-sm-1 control-label">Date Teste:</label>
                <div class="col-sm-5">
                    <p class="input-group">
                    <input id="field_teste" type="text" class="form-control" name="teste" datepicker-mode="'year'" datetime-picker="MM/yyyy" datepicker-options="datepickerOptionsTeste" 
                    ng-model="dtTeste" is-open="datePickerOpenStatus.teste" enable-time="false" readonly
                      />
                    <span class="input-group-btn" style="vertical-align: top !important;">
                        <button type="button" class="btn btn-default" ng-click="openCalendar('teste')"><i class="fa fa-calendar"></i></button>
                    </span>
                    </p>
                </div>
            </div>	