<div ng-cloak></div>
<form action="#" id="sky-form" class="sky-form sky-form-campos" style="border:0px;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
		<h4 class="modal-title" id="exampleModalLabel">Gerar Gráfico 
			<span class="fa fa-bar-chart"></span>
		</h4>
	</div>

	<fieldset>
		<div class="row">
			<section class="col col-12" style="margin: 10px 0px;">
				<label class="control-label">Instalação:</label> 
				<span>{{vm.entity.disp_datas.nome}} </span>
			</section>
			<section class="col col-12">
				<label class="control-label">Unidade Geradora:</label>
				<select ng-model="vm.equipSelected" ng-change="vm.displayResults()">
					<option ng-repeat="equip in vm.entity.disp_datas.equipamentos" value="{{equip.id}}" >{{equip.codigoOns}}</option>
				</select>
			</section>
			<section class="col col-12" style="overflow-x: scroll;">
				<canvas id="base" class="chart chart-line" chart-data="data" chart-labels="labels" chart-colors="colors" 
					chart-dataset-override="datasetOverride" chart-options="options" chart-series="series" responsive=true style="width: 100%;">
				</canvas> 
<!-- 			      <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"  -->
<!-- 			      	 responsive=true style="position: absolute; margin-top: 34px;"> -->
<!-- 			      </canvas> -->
			</section>
		</div>
		
			
	
		<section class="col col-12" style="float: right">
			<div class="modal-footer">
				<div class="alinharDireita" style="padding-right: 0;">
					<button id="btnCancelar" type="button" class="btn-dt btn btn-success btn-sm" data-dismiss="modal" ng-click="vm.clear()">
						<span class="fa fa-chevron-left"></span>&nbsp;
						<span translate="sager.action.back">Voltar</span>
					</button>
				</div>
			</div>
		</section>
		</fieldset>
	</form>
